# Node / Frontend
node_modules/
dist/
build/

# Backend / Python
__pycache__/
*.pyc

# Env
.env

# Upload / media (QUAN TRỌNG)
uploads/
storage/
media/
public/videos/

# Video files
*.mp4
*.mkv
*.mov
*.avi
*.webm

# Archive
*.zip
*.rar
*.7z
*.tar
*.gz

# Database
*.db